<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA561dTkef7J33E7s_1OURJwd_rBDTIUvE</string>
	<key>GCM_SENDER_ID</key>
	<string>102919815150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newsApp</string>
	<key>PROJECT_ID</key>
	<string>newsapp-bc248</string>
	<key>STORAGE_BUCKET</key>
	<string>newsapp-bc248.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102919815150:ios:59bf876e65c6108fd8d8ff</string>
</dict>
</plist>